<!DOCTYPE html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link href="stylu.css" rel="stylesheet" type="text/css">
</head>
  <body style="background-color:black">
    <header> 
      <div class="navbar">
          <a href="map.html"> L<sup>2</sup> </a>
          <a class="active" href="about.html";>About</a>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </header>
      <div  style="font-size: 19px; text-align:center; font-family: 'Shadows Into Light', cursive; color:white; size:25px; margin-top:15%">
    <p>
      A website provides you with a Map and Search box, by searching a keyword, a plot time will be displayed
      based on selected region and inserted keyword.
    </p>
    <p>Also an insight displaying most relevant tweets.</p> 
  </div>
    <footer>
      <p> Dana Ismail - 11926574 </p>
      <a href="dana.ismail@stu.najah.edu" style="color:yellowgreen"> dana.ismail@stu.najah.edu </a>
      <p> Sami Ghazal - 11923667 </p>
      <a href="sami.ghazal@stu.najah.edu" style="color:yellowgreen"> sami.ghazal@stu.najah.edu </a>
    </footer>
  </body>
</head>
